.head{
    width: 95vw;
    height: 95vh;
    border: 5px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.head-main{
    width: 50vw;
    height: 50vh;
    border: 5px solid black;
}

.first{
    color: red;
}